/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */

#logo {
    font-size: 25px;
    padding-left: 20px;
    margin-right: auto;
    /* Push logo to the left */
}


.header-container {
    display: flex;
    justify-content: center;
    /* Align horizontally in the center */
    padding: 20px;
    padding-top: 110px;
    padding-bottom: 100px;
}

.header-content {
    display: flex;
    align-items: center;
    /* Align vertically in the center */
    gap: 100px;
    /* Adds spacing between the divs */
    padding: 20px;
    /* Add padding for better spacing */
}


.header-text {
    font-family: Arial, sans-serif;
    /* Adjust font-family as needed */
    font-size: 30px;
    /* Enlarge heading font size */
    flex: 2;
    /* Allow text to grow and take available space */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #333; /* Bottom navbar line */
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    border-bottom: solid turquoise;
}

.content {
    margin-top: 60px;
    /* Adjust according to navbar height */
    padding: 20px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    margin: 10px;
}

a {
    text-decoration: none;
    /* color: white; */
}

/* BUTTONS */

.button1 {
    background-color: #4CAF50;
    /* Green background */
    border: none;
    /* No border */
    color: white;
    /* White text */
    padding: 15px 32px;
    /* Padding */
    text-align: center;
    /* Center text */
    text-decoration: none;
    /* No underline */
    display: inline-block;
    /* Display as inline-block */
    font-size: 16px;
    /* Font size */
    margin: 4px 2px;
    /* Margin */
    transition-duration: 0.4s;
    /* Transition duration */
    cursor: pointer;
    /* Cursor pointer */
    border-radius: 8px;
    /* Rounded corners */
}

.button1:hover {
    background-color: #45a049;
    /* Darker green background on hover */
}

/* Button 2 */
.button2 {
    background-color: #008CBA;
    /* Blue background */
    border: none;
    /* No border */
    color: white;
    /* White text */
    padding: 15px 32px;
    /* Padding */
    text-align: center;
    /* Center text */
    text-decoration: none;
    /* No underline */
    display: inline-block;
    /* Display as inline-block */
    font-size: 16px;
    /* Font size */
    margin: 4px 2px;
    /* Margin */
    transition-duration: 0.4s;
    /* Transition duration */
    cursor: pointer;
    /* Cursor pointer */
    border-radius: 8px;
    /* Rounded corners */
}

.button2:hover {
    background-color: #005f6b;
    /* Darker blue background on hover */
}


.connect-icons {
    padding-top: 30px;
}


/* PROFILE IMAGE */


/* ABOUT */
#about {
    background-color: #f8f8f8;
    padding: 50px;
    text-align: center;
    /* Center align the content */
}

#about h2 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 40px;
}

#about p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    /* Limit the width of the paragraph */
    margin: 0 auto;
    /* Center align the paragraph */
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* PROJECTS */
#projects h2 {
    padding-top: 55px; /*Spacing bellow navbar*/
}

#projects {
    background-color: #f8f8f8;
    text-align: center;
    /* Center align the content */

}

.project-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* CONTACT FORM */


.contact-name h2 {
    background-color: chartreuse;
}

.section-header {
    /* padding: 50px; */
    text-align: center;
}

#contact {
    display: flex;
    justify-content: center;
    padding: 50px;
    text-align: center;
    padding-top: 60px;
}

.form-container {
    box-sizing: border-box;
    margin: 40px auto 0 auto;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;

    width: 400px;

    /* NORMAL */
    --fc-border-color: #ECEFF9;
    --fc-normal-text-color: #0E0B3D;
    --fc-normal-placeholder-color: #B3B8D0;

    /* PRIMARY COLOR | HSL FORMAT*/
    --fc-primary-color-hue: 199;
    --fc-error-color-hue: 356;
    --fc-primary-hsl: var(--fc-primary-color-hue), 100%, 54%;
    --fc-error-hsl: var(--fc-error-color-hue), 100%, 54%;

    /* HOVER */
    --fc-field-hover-bg-color: #F7F9FC;
    --fc-border-hover-color: #babbc4;
    --fc-field-hover-text-color: #B3B8D0;

    --fc-border-active-color: #1463FF;
  }

  .form-container * {
    box-sizing: border-box;
  }

  .form-container label {
    display: block;
    cursor: pointer;
  }

  .form-container .formcarry-block:not(:first-child) {
    margin-top: 16px;
  }

  /*=============================================
  =            Fields           =
  =============================================*/
  
  .form-container input,
  .form-container textarea,
  .form-container select {
    margin-top: 4px;
    width: 100%;
    height: 42px;
    border: 1px solid var(--fc-border-color);
    color: var(--fc-normal-text-color);
    border-radius: 6px;
    padding: 8px 12px;
    font-size:14px;
    transition: 125ms background, 125ms color, 125ms box-shadow;
  }

  .form-container textarea{
    min-height: 188px;
    max-width: 100%;
    padding-top: 12px;
  }

  .form-container input::placeholder,
  .form-container textarea::placeholder,
  .form-container select::placeholder {
    color: var(--fc-normal-placeholder-color);
  }

  .form-container input:hover,
  .form-container textarea:hover,
  .form-container select:hover {
    border-color: var(--fc-border-hover-color);
    background-color: var(--fc-field-hover-bg-color);
  }

  .form-container input:hover::placeholder,
  .form-container textarea:hover::placeholder,
  .form-container select:hover::placeholder {
    color: var(--fc-field-hover-text-color);
  }

  .form-container input:focus,
  .form-container textarea:focus,
  .form-container select:focus {
    background-color: #fff;
    border-color: hsl(var(--fc-primary-hsl));
    box-shadow: hsla(var(--fc-primary-hsl), 8%) 0px 0px 0px 3px;
    outline: none;
  }

  /* .form-container select {
    /* background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 14.5001L8.46387 10.9642L9.64303 9.78589L11.9997 12.1434L14.3564 9.78589L15.5355 10.9642L11.9997 14.5001Z' fill='%236C6F93'/%3E%3C/svg%3E%0A");
    background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px); 
    background-size: 24px px;
    background-position: 98%;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
   */

  .form-container button {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 40px;
    width: 100%;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid hsla(var(--fc-primary-hsl));
    background-color: hsla(var(--fc-normal-text-color));
    color: #fff;
    cursor: pointer;
  }

  .form-container button {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    height: 40px;
    line-height: 24px;
    width: 100%;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: hsla(var(--fc-primary-hsl));
    color: #fff; /*Button text */ */
    cursor: pointer;
    box-shadow: 0 0 0 0 transparent;
    transition: 125ms all;
  }
  
  .form-container button:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), hsla(var(--fc-primary-hsl));
  }
  
  .form-container button:focus {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
    border-inline: 1px solid inline rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 0px 3px rgba(var(--fc-primary-hsl), 12%);
  }

  .form-container button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
  }

  .form-container button:disabled {
    background-color: hsla(var(--fc-primary-hsl), 40%);
    cursor: not-allowed;
  }

  .form-container input:focus:required:invalid,
  .form-container input:focus:invalid, 
  .form-container select:focus:required:invalid,
  .form-container select:focus:invalid
  {
    color: hsl(var(--fc-error-hsl)); 
    border-color: hsl(var(--fc-error-hsl));
    box-shadow: 0px 0px 0px 3px hsla(var(--fc-error-hsl), 12%);
  }


  

@media only screen and (max-width: 600px) {
    nav {
        text-align: center;
    }

    li {
        display: block;
        margin: 10px 0;
    }
}