/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */

#logo {
    font-size: 25px;
    padding-left: 20px;
    margin-right: auto;
    /* Push logo to the left */
}


.header-container {
    display: flex;
    justify-content: center;
    /* Align horizontally in the center */
    padding: 20px;
    padding-top: 110px;
    padding-bottom: 100px;
}

.header-content {
    display: flex;
    align-items: center;
    /* Align vertically in the center */
    gap: 100px;
    /* Adds spacing between the divs */
    padding: 20px;
    /* Add padding for better spacing */
}


.header-text {
    font-family: Arial, sans-serif;
    /* Adjust font-family as needed */
    font-size: 30px;
    /* Enlarge heading font size */
    flex: 2;
    /* Allow text to grow and take available space */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #333; /* Bottom navbar line */
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    border-bottom: solid turquoise;
}

.content {
    margin-top: 60px;
    /* Adjust according to navbar height */
    padding: 20px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    margin: 10px;
}

a {
    text-decoration: none;
    /* color: white; */
}

/* BUTTONS */

.button1 {
    background-color: #4CAF50;
    /* Green background */
    border: none;
    /* No border */
    color: white;
    /* White text */
    padding: 15px 32px;
    /* Padding */
    text-align: center;
    /* Center text */
    text-decoration: none;
    /* No underline */
    display: inline-block;
    /* Display as inline-block */
    font-size: 16px;
    /* Font size */
    margin: 4px 2px;
    /* Margin */
    transition-duration: 0.4s;
    /* Transition duration */
    cursor: pointer;
    /* Cursor pointer */
    border-radius: 8px;
    /* Rounded corners */
}

.button1:hover {
    background-color: #45a049;
    /* Darker green background on hover */
}

/* Button 2 */
.button2 {
    background-color: #008CBA;
    /* Blue background */
    border: none;
    /* No border */
    color: white;
    /* White text */
    padding: 15px 32px;
    /* Padding */
    text-align: center;
    /* Center text */
    text-decoration: none;
    /* No underline */
    display: inline-block;
    /* Display as inline-block */
    font-size: 16px;
    /* Font size */
    margin: 4px 2px;
    /* Margin */
    transition-duration: 0.4s;
    /* Transition duration */
    cursor: pointer;
    /* Cursor pointer */
    border-radius: 8px;
    /* Rounded corners */
}

.button2:hover {
    background-color: #005f6b;
    /* Darker blue background on hover */
}


.connect-icons {
    padding-top: 30px;

}


/* PROFILE IMAGE */


/* ABOUT */
#about {
    background-color: #f8f8f8;
    padding: 50px;
    text-align: center;
    /* Center align the content */
}

#about h2 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 40px;
}

#about p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    /* Limit the width of the paragraph */
    margin: 0 auto;
    /* Center align the paragraph */
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* PROJECTS */
#projects h2 {
    padding-top: 55px;
}

#projects {
    background-color: #f8f8f8;
    text-align: center;
    /* Center align the content */

}

.project-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* CONTACT FORM */

.contact-name h2 {
    background-color: chartreuse;
}

.section-header {
    /* padding: 50px; */
    text-align: center;
}

.section-header {
    background-color: darkcyan;
    
}

#contact {
    display: flex;
    justify-content: center;
    padding: 50px;
    text-align: center;
    padding-top: 70px;
}

.contact-wrapper {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: yellow;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group.button {
    display: flex;
    justify-content: center;
}

.form-group.button button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start;
}

.form-group button:hover {
    background-color: #0056b3;
}


/* MEESSAGE INPUT FIELD */

.large-comment-box {
    height: 100px;
}


/* Add this to the end of styles.css */

@media only screen and (max-width: 600px) {
    nav {
        text-align: center;
    }

    li {
        display: block;
        margin: 10px 0;
    }
}